<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
<head>
<title>Buildbot Builds</title>
</head>
<body>
    <h1>Buildbot Builds:</h1>
    <py:choose>
        <py:when test="errors">
            <div class="system-message">${errors}</div>
		</py:when>
    </py:choose>
    <script type="text/javascript">
        buildbot_url = '${buildbot_url}';
        trac_url = '${trac_url}';
        build_permisson = ${view_build_buttons};
        buildbot_sources = {${sources}};
        builders = [${builders_str_list}];
        function refresh() {
            builders.forEach(function (builder) {
                load_last_build(builder)
            });
        };
        refresh();
        var timer = setInterval(refresh, 5000);
    </script>
    <div class="build-list">
	    <div py:for="builder in builders" class="project-wrapper" id="builder_${builder}">
		    <div class="project-header" style="width: 100%;">
                ${builder}
            </div>
            <div class="inner-build">
                <span>No builds...</span>
			</div>
		</div>
	</div>
</body>
</html>
